html, body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background-color: #1E1E1E;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


h1{
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 3vh;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: CinzelDecorative;
    font-size: 1.5rem;
}
h2{
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
@font-face{
    font-family: 'CinzelDecorative';
    src: url('../CinzelDecorative-Regular.ttf');
}
    #random{
        padding: 2vh 0;
    }
        #circle{
            width: 90%;
            height: 30vh;
            background-color: rgb(0, 0, 0);
            margin: 0 auto;
            border-radius: .2rem .2rem 0 0;
            position: relative;
            overflow: hidden;
        }
        #random > p{
            width: 90%;
            background-color: rgb(0, 0, 0);
            color: white;
            margin: 0 auto;
            text-align: center;
            padding: 1rem 0;
        }
        #noise{
            width: 100%;
            height: 100%;
            transition: opacity .5s;
            border-radius: .2rem .2rem 0 0;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .denoise{
            opacity: 0;
        }
        .lnoise{
            opacity: 50%;
        }
        #play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%,-50%);
            opacity: 60%;
            width: 15%;
        }
        .thum{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    #selections{
        display: flex;
        height: 40vh;
    }
        #categories{
            width: 100%;
            overflow: hidden;
            padding: .5rem;
        }
            #cateChoose{
                display: flex;
            }
                .typeChoose{
                    background-color: black;
                    color: whitesmoke;
                    text-align: center;
                    padding: .5rem 0;
                    width: 50%;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                .choosenChoose{
                    background-color: #353343;
                }
            #find{
                width: 100%;
                margin: 2px 0;
                padding: 2%;
                border: 0;
                border-radius: 0;
                box-sizing: border-box;
                background-color: whitesmoke;
                margin-bottom: .5rem;
            }
                #choosen .category{
                    width: 100%;
                    border: 2px solid rgb(0, 0, 0);
                    background-color: rgb(0, 0, 0);
                    height: 5vh;
                    padding: 1vh;

                }
            #all_categories{
                display: flex;
                flex-wrap: wrap;
                overflow-y: scroll;
                justify-content: space-between;
                height: 28vh;
                align-items: flex-start;
                align-content: flex-start;
            }
                .category{
                    color: aliceblue;
                    text-align: center;
                    padding: .5rem;
                    background-color: rgb(84, 77, 77);
                    margin: 2px 0;
                    width: calc(50% - 4px);
                    box-sizing: border-box;
                    /* height: calc(4vh - 4px); */
                    font-size: .8rem;
                }
                .choosen{
                    border-bottom: 2px solid grey;
                }


    input[type=checkbox] {
        visibility: hidden;
    }
    .autoplay {
        width: 3rem;
        height: 1rem;
        background: #555;
        margin: 1rem 5%;
        position: relative;
        border-radius: 5px;
        direction: ltr;

    }
    .autoplay label {
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 2.4rem;
        background: #ccc;
    }
    .autoplay input[type=checkbox]:checked + label {
        left: -.1rem;
    }
    .autoplay p{
        display: inline;
        color: whitesmoke;
        position: absolute;
        top: 0;
        left: 3.6rem;
        margin: 0;
    }


.noselect, .category, .typeChoose, .autoplay *{
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    }